@model IEnumerable<Product>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Products";
}

@if (!Model.Any())
{
    <div class="alert alert-warning">
        <h3>No Products in our system</h3>
    </div>
}
else
{
    <table class="table" id="page">
        <thead>
        <th>User</th>
        <th>Product</th>
        <th>Status</th>

        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.User.FName</td>
                    <td>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                            @product.Name
                        </a>
                    </td>
                    @if (product.Status == "Accepted")
                    {
                        <td class="text-success">
                            @product.Status
                        </td>
                    }
                    else if (product.Status == "Rejected")
                    {
                        <td class="text-danger">
                            @product.Status
                        </td>
                    }
                    else
                    {
                        <td>
                            @product.Status
                        </td>
                    }


                </tr>
            }
        </tbody>
    </table>
}