@model Product
@{
    ViewData["Title"] = Model.Name;
}

<div class="card border-success rounded-4 mt-5 overflow-hidden">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-md-8 px-5 py-4 d-flex flex-column justify-content-between">
                <div>
                    <h1 class="text-dark fw-bolder">@Model.Name</h1>
                    <span class="badge bg-info fs-5 mb-4">@Model.Category.Name</span>
                    <p class="fs-5">@Model.Description</p>
                </div>
                <div>
                    <h1>@Model.Price$</h1>
                </div>
                <div>
                    @{
                        var userInfo = await UserManager.FindByIdAsync(Model.UserId);
                        var index = userInfo.UserName.IndexOf('@');
                        var userName = userInfo.UserName.Substring(0, index);
                        <h5>@userName</h5>
                    }
                </div>
            </div>
            <div class="col-md-4" ">
                <img src="@($"{Settings.ItemImageStorePath}/{Model.Cover}")" alt="@Model.Name" class="w-100" />
            </div>
        </div>
    </div>
</div>