@model IEnumerable<Product>
<div class="mt-2 container">
@{
    ViewData["Title"] = "Products";
}
    <div class="row">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                @TempData["Success"]
            </div>
        }
        <div class="d-flex justify-content-center mb-3">
            <a asp-action="Create" class="btn btn-primary">Create Product</a>
        </div>
    </div>


@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No Products were added yet!
    </div>
}
else
{
    <table class="table table-hover" id="page">
        <thead>
            <tr>
                <th scope="col">Name</th>
                @* <th scope="col">Description</th> *@
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Cover</th>
                <th scope="col">Actions</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr class="">
                    <td scope="row">@product.Name</td>
                   @*  <td style="width:500px">@product.Description</td> *@
                    <td>@product.Category.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <img src="@($"{Settings.ItemImageStorePath}/{@product.Cover}")" class="rounded" style="width:100px;height:100px;" />
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@product.Id" class="btn btn-info rounded rounded-3 me-4"> <i class="bi bi-pencil-square"></i> </a>
                        <a href="javascript:;"
                           class="js-delete btn btn-danger rounded rounded-3" data-id="@product.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    
                        @if(product.IsAvailable == "Accepted")
                        {
                            <td class="text text-success">
                           @product.IsAvailable
                        </td>
                    }
                    else if (product.IsAvailable == "Rejected")
                    {
                        <td class="text text-danger">
                            @product.IsAvailable
                        </td>
                    }
                    else
                    {
                        <td>
                            @product.IsAvailable
                        </td>
                    }

                    @* <td>
                        <form method="post" asp-controller="Cart" asp-action="Add"> 
                            <input type="hidden" name="itemId" value="@product.Id" />
                            <div class="input-group">
                                <input type="number" name="quantity" class="form-control" style="width:50px;" min="1" value="1" />
                                <button id="addItem" type="submit" class="btn btn-info rounded rounded-3 ms-2">
                                    <i class="bi bi-cart-check"></i>
                                </button>
                            </div>
                        </form>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
}
</div>
@section Scripts {
    <script src="~/js/delete-product.js"></script>
}