@model IEnumerable<ProductIndexViewModel>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="text-center">
                <img src="/assets/poster-231_512.gif" alt="Alternate Text" width="100px" />
            </div>
            <br />
            <!-- Left side menu -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column" @* style="background-color:aquamarine" *@>
                            <li class="nav-item">
                                <a style="color:darkblue" class="nav-link" asp-controller="Home" asp-action="Stock" asp-route-categoryName="Computer"><strong>Computer</strong></a>
                            </li>
                            <li class="nav-item">
                                <a style="color:darkblue" class="nav-link" asp-controller="Home" asp-action="Stock" asp-route-categoryName="Tablet"><strong>Tablet</strong></a>
                            </li>
                            <li class="nav-item">
                                <a style="color:darkblue" class="nav-link" asp-controller="Home" asp-action="Stock" asp-route-categoryName="Mobile"><strong>Mobile</strong></a>
                            </li>
                            <li class="nav-item">
                                <a style="color:darkmagenta" class="nav-link" href="#"><strong>Services</strong></a>
                            </li>
                            <li class="nav-item">
                                <a style="color:darkmagenta" class="nav-link" href="#"><strong>Contact</strong></a>
                            </li>
                        </ul>
                    </div>            
                </div>
            </nav>
        </div>
        <div class="col-9">
            @{
                ViewData["Title"] = "Home Page";
            }

            @{
                Pager pager = new Pager();
                int pageNo = 0;
                if (ViewBag.Pager != null)
                {
                    pager = ViewBag.Pager;
                    pageNo = pager.CurrentPage;
                }
            }

            @if (!Model.Any())
            {
                <div class="alert alert-warning">
                    <h4 class="alert-heading">No Products!</h4>
                    <p class="mb-0">No Products were added yet</p>
                </div>
            }
            else
            {
                @if (TempData["addedSuccessfully"] != null)
                {
                    <span class="alert alert-info">@TempData["addToCart"]</span>
                }
                <header class="text-center mb-5">
                    <h1 class="display-4 font-weight-bold">TechMarket Products</h1>
                    <p class="font-italic text-muted mb-0">Stay connected like never before with our feature-packed smartphones, packed with advanced camera systems, lightning-fast 5G connectivity, and intuitive AI assistants to streamline your daily tasks. Unleash your creativity with our versatile tablets and 2-in-1 devices, empowering you to work, play, and create on the go.</p>
                    <p class="font-italic text-muted">
                        Snippet By <a asp-action="HomePage" class="text-muted">
                            <u>TechMarket</u>
                        </a>
                    </p>
                </header>
                
         <div class="row pb-5 mb-4">
              @foreach (var viewmodel in Model)
               {
               <input id="productId" value="@viewmodel.product.Id" hidden />
               <div class="col-lg-3 col-md-12 mb-4 mb-lgs-0">
                   <!-- Card-->
                  <div class="card card_index rounded shadow-sm border-0">
                    <div class="card-body card_index_body p-4" style="">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@viewmodel.product.Id">
                                        <img src="@($"{Settings.ItemImageStorePath}/{viewmodel.product.Cover}")" alt="@viewmodel.product.Name" title="@viewmodel.product.Name" class="img-fluid d-block mx-auto mb-3">
                    </a>
                    <h5><a asp-controller="Product" asp-action="Details" asp-route-id="@viewmodel.product.Id">@viewmodel.product.Name</a></h5>
                   <p><strong>@viewmodel.product.Price $</strong> </p>
                   <p class="small text-muted font-italic" style="overflow:hidden; width:100%; height:40px">@viewmodel.product.Description</p>
                      @{
                         if (viewmodel.ProductRate == -1)
                             {
                            <p>Not Rated yet</p>
                                            <i class="fa fa-star-o- text-success"></i>
                             }
                         else
                             {
                               <ul class="list-inline small">
                                      @{
                                          int wholeStar = (int)viewmodel.ProductRate;
                                            bool hasHalfStar = viewmodel.ProductRate % 1 > 0;
                                       }

                                     @for (int i = 0; i < wholeStar; i++)
                                       {
                                                    <li class="list-inline-item m-0"><i class="fa fa-star text-warning"></i></li>
                                       }

                                     @if (hasHalfStar)
                                       {
                                                    <li class="list-inline-item m-0"><i class="fa fa-star-half text-warning"></i></li>
                                        }
                                 </ul>
                               }
                             }
                         <div>
                          @* <a asp-controller="Cart" asp-action="AddToCart" asp-route-productId ="@viewmodel.product.Id" class="btn btn-primary" id="btnCart"><i class="bi bi-cart-plus"></i></a> *@
                                        <div class="d-flex justify-content-between" style="gap:10px">
                                            <button class="btn btn-primary btn-add-to-cart @(viewmodel.product.Quantity <= 0 ? "disabled" : "")" data-product-id="@viewmodel.product.Id">
                                                <i class="bi bi-cart-plus fa-sm"></i>
                                            </button>
                                            @if (viewmodel.product.Quantity <= 0)
                                            {
                                                <span class="mt-1 text text-danger">out of stock</span>
                                            }
                                            else
                                            {
                                                <span class="mt-1 text text-success">Available</span>
                                            }
                                            
                                        </div>

                                    </div>
                                      
                    </div>
                 </div>
           </div>
        }
      </div>
     }

            <nav aria-label="Page navigation example">
                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination">
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge==pager.CurrentPage ? "active": "")">
                                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pg="@pge">@pge</a>
                            </li>
                        }
                    </ul>
                }
            </nav>
        </div>
    </div>
</div>


                    @section Scripts{
    <script src="~/js/addtocart.js"></script>
                    } 